*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  background-color: black;
  color: antiquewhite;
}

table{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}
th, td{
  width: 100px;
  height: 50px;
  border-bottom: 3px solid whitesmoke;
}

section.login{
  margin-left: 30%;
  width: 500px;
  height: 500px;
  display:grid;
  justify-content: center;
  align-items: center;
  border: 2px solid wheat;
  box-shadow: 5px 10px seashell;
  background-color: rgb(15, 209, 112);
  color: black;
}
section.login input{
  margin-bottom: 80px;
}

#lemail{
  height: 40px;
  border-radius: 5px;
  margin-bottom: -50px;
}
#senha{
  height: 40px;
  border-radius: 5px;
  margin-bottom: 100px;
}

#botao{
  height: 40px;
  width: 180px;
  margin-left: 40px;
  margin-top: -200px;
  background-color: rgb(3, 59, 31);
  border-radius: 5px;
  cursor: pointer;
}
footer{
  margin-top: 50px;
  height: 50px;
}

